.row {
  display: flex;
}

.row:first-of-type .cell {
  border-top: 1px solid black;
}

.cell {
  width: 25px;
  height: 25px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:last-of-type {
  border-right: 1px solid black;
}

.black {
  background-color: black;
}
